//
@import "partials/header";
@import "partials/jumbotron";
@import "partials/product";
@import "partials/comicBook";
@import "partials/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}